.overlay-container {
  width: 100%;
  height: 700vh;
  background: rgba(57, 55, 72, 0.22);
  position: absolute;
  left: 0;
  z-index: 6;
}
.empty-cart {
  display: grid;
  place-content: center;
  height: 25rem;
}
.overlay {
  min-height: 33rem;
}
.overlay-wrapper {
  width: 21rem;
  min-height: 31.25rem;
  background: var(--clr-white);
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.25rem 0.5rem;
}
.overlay h4 {
  font-weight: 900;
  margin-bottom: 2rem;
}
.overlay-qty-box {
  margin-top: 1rem;
}
.overlay-qty {
  font-weight: 500;
}
/* overlay items wrapper */
.overlay-items-wrapper {
  margin-top: 2rem;
  height: 25.25rem;
  overflow-y: scroll;
  padding-right: 0.5rem;
}
.overlay-items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.75rem;
}
.overlay-items-wrapper::-webkit-scrollbar {
  width: 0.28rem;
}
.overlay-items-wrapper::-webkit-scrollbar-track {
  box-shadow: 0 0 2px 1px #808080a9;
  border-radius: 10px;
}
.overlay-items-wrapper::-webkit-scrollbar-thumb {
  background: rgba(57, 55, 72, 0.22);
  border-radius: 10px;
  cursor: pointer;
}
.overlay-items .overlay-items-box {
  min-width: 9.75rem;
}
.overlay-items .overlay-items-box h4 {
  margin-bottom: 0.75rem;
  color: #1d1f22;
  font-weight: 300;
  letter-spacing: 0;
}
.overlay-items .overlay-item-price {
  font-weight: 500;
  color: #1d1f22;
  font-size: 1rem;
}
.overlay-item-size {
  font-size: 0.875rem;
  color: #1d1f22;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.overlay-attr-btn {
  min-width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  border: 1px solid #1d1f22;
  margin-bottom: 0.5rem;
}
.active-attribute {
  background: #1d1f22;
  color: #fff;
}
.overlay-attr-color {
  width: 1rem;
  height: 1rem;
  border: 1px solid #1d1f22;
  margin-right: 0.25rem;
}

.activeColor {
  outline: 2px solid #5ece7b;
}

/* overlay items btn wrapper */
.overlay-btns-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.4rem;
}
.overlay-btns-wrapper button {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
  background: transparent;
  border: 1px solid #1d1f22;
  padding: 3px;
}
.overlay-btns-wrapper h4 {
  margin-bottom: 0;
}
/* overlay items image wrapper */
.overlay-img-wrapper {
  width: 7.5rem;
  height: 9.75rem;
}
.overlay-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* total */
.overlay-total {
  display: flex;
  justify-content: space-between;
  color: #1d1f22;
  margin-top: 0.5rem;
}
.overlay-total h4 {
  font-size: 1rem;
  font-weight: bold;
}
.overlay-total-amout {
  font-weight: bolder;
  color: #000;
}

/* overlay checkout button */
.overlay-checkout-btns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}
.overlay-checkout-btns button {
  width: 8.75rem;
  height: 2.625rem;
  background: #fff;
  border: 1px solid #1d1f22;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  display: grid;
  place-content: center;
  letter-spacing: 1px;
  font-family: var(--ff-primary);
}
#overlay-checkout {
  background: #5ece7b;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .overlay-container {
    height: 365vh;
  }
}

@media screen and (min-width: 900px) {
  .overlay-container {
    height: 280vh;
  }
  .overlay-wrapper {
    right: 3.5rem;
  }
}
